type project
authors Cody Johnson
description
    Fable bindings written in the Feliz-style for material-table
language
    F#
tags
    fsharp, fable, react, feliz, MUI, material-ui, MaterialUI
files
    *.fsproj ==> fable
    *.fs ==> fable
    Props/*.fs ==> fable/Props
